.project
.settings
test-mvn-release-impl/.classpath
test-mvn-release-impl/.settings
test-mvn-release-impl/target
test-mvn-release-api/.classpath
test-mvn-release-api/.settings
test-mvn-release-api/target
